<h1 id='comments'>Comments:</h1>

<table class="table">
  <tbody>
    <% @comments.each do |comment| %>
    <% if !comment.comment.nil? %>
      <tr >
        <td><%=comment.author.email%></td>
        <td><%=comment.created_at%></td>
        <td><%=comment.comment%></td>
        <td>
          <% if can? :destroy, comment %><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
          <% if can? :edit, comment %><%= link_to 'Edit', edit_comment_path(comment) %><% end %>

        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

Add a comment:

<%= form_with(model: @comment, local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :author_id, value: @current_user.id %>

  <%= form.hidden_field :commentable_id, value: params["id"] %>
  <%= form.hidden_field :commentable_type, value: params["controller"].singularize.capitalize %>


  <div class="form-group">
    <%= form.text_area :comment, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
