<div id="<%= dom_id topic_description %>">
  <p>
    <strong>Topic:</strong>
    <%= topic_description.topic.title %>
  </p>

  <p>
    <strong><%= topic_description.implementable_type %>:</strong>
    <%= topic_description.implementable.code %> /
    <%= topic_description.implementable.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic_description.description %>
  </p>

</div>
