<div id="<%= dom_id topic_description %>">
  <p>
    <strong>Topic:</strong>
    <%= topic_description.topic.title %>
  </p>

  <p>
    <strong><%= topic_description.implementable.class %>:</strong>
    <%= topic_description.implementable.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic_description.description %>
  </p>

</div>
