<div id="<%= dom_id topic_description %>">
  <h3>
    <strong>Topic Description für:</strong>
    <%= topic_description.topic.title %>
  </h3>

  <p>
    <strong>Topic:</strong>
    <%= topic_description.topic.title %>  <%= link_to '->', topic_description.topic %>
  </p>
  <p>

    <strong><%= topic_description.implementable_type %>:</strong>
    <%= topic_description.implementable.code %> /
    <%= topic_description.implementable.name %>
    <%= link_to '->', topic_description.implementable %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= topic_description.description %>
  </p>

</div>
