<p style="color: green"><%= notice %></p>

<%= render @topic_description %>

<div>
  <%= link_to "Edit this topic description", edit_topic_description_path(@topic_description) %> |
  <%= link_to "Back to topic descriptions", topic_descriptions_path %>

  <%= button_to "Destroy this topic description", @topic_description, method: :delete %>
</div>
