<p style="color: green"><%= notice %></p>
<h3>Topic "<%=@topic.title %>"</h3>
<%= render @topic %>

<% @programs = @topic.programs %>

<div>
  <%= link_to_edit "Edit this topic", @topic, suffix: ' |' %>

  <%= button_to "Destroy this topic", @topic, method: :delete %>
</div>
