
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Ects</th>
      <th scope="col">Semester</th>
      <th scope="col">required?</th>
      <th scope="col" colspan="2">State</th>
      <th scope="col" colspan="2"></th>
      <% if can? :edit, @program %>
      <th scope="col"></th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% course_programs.each do |course_program| %>
      <tr>
        <td scope="row" onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.name %></td>
        <td onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.code %></td>
        <td><%= course_program.course.ects %></td>
        <td><%= course_program.semester %></td>
        <td><%= course_program.required %></td>
        <td class="bg-<%= course_program.course.aasm_state %>">   </td>
        <td><%= course_program.course.aasm_state.humanize.titleize %></td>
        <td><%= link_to 'Show Course', course_path(course_program.course) %></td>
        <td><%= link_to 'Show Link', course_program_path(course_program) %></td>
        <% if can? :edit, @program %>
        <td><%= link_to 'Edit Link', edit_course_program_path(course_program) %></td>
        <% end %>
        <td><%= link_to 'Export JSON', export_course_json_url(id: course_program.course_id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
