
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Ects</th>
      <th scope="col">Semester</th>
      <th scope="col">required?</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% course_programs.each do |course_program| %>
      <tr>
        <td scope="row" onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.name %></td>
        <td onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.code %></td>
        <td><%= course_program.course.ects %></td>
        <td><%= course_program.semester %></td>
        <td><%= course_program.required %></td>
        <td><%= link_to 'Show Course', course_path(course_program.course) %></td>
        <td><%= link_to 'Show Link', course_program_path(course_program) %></td>
        <td><%= link_to 'Edit Link', edit_course_program_path(course_program) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
