
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t('name') %></th>
      <th scope="col"><%= t('code') %></th>
      <th scope="col"><%= t('ects') %></th>
      <th scope="col"><%= t('semesters') %></th>
      <th scope="col"><%= t('required?') %></th>
      <th scope="col" colspan="2"><%= t('state') %></th>
      <th scope="col" colspan="2"></th>
      <% if can? :edit, @program %>
      <th scope="col"></th>
      <% end %>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% course_programs.each do |course_program| %>
      <tr>
        <td scope="row" onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.name %></td>
        <td onclick = "location.href='<%= course_path(course_program.course) %>'"><%= course_program.course.code %></td>
        <td><%= course_program.course.ects %></td>
        <td><%= course_program.semester %></td>
        <td><%= course_program.required %></td>
        <td class="bg-<%= course_program.course.aasm_state %>">   </td>
        <td><%= course_program.course.aasm_state.humanize.titleize %></td>
        <td><%= link_to (t('Show Course')), course_path(course_program.course) %></td>
        <td><%= link_to (t('Show Link')), course_program_path(course_program) %></td>
        <% if can? :edit, @program %>
        <td><%= link_to (t('EÙdit Link')), edit_course_program_path(course_program) %></td>
        <td><%= link_to (t('Delete Link')), course_program, method: :delete, data: { confirm: (t('are you sure?')) } %></td>
        <% end %>
        <td><%= link_to 'Export JSON', export_course_json_url(id: course_program.course_id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
