
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Ects</th>
      <th scope="col">Semester</th>
      <% if @show_objectives %>
      <th colspan="4" scope="col">Objectives</th>
      <% end %>
      <th scope="col">required?</th>
      <th scope="col" colspan="2">State</th>
      <th scope="col">Course</th>
      <th scope="col">Link</th>
      <th scope="col">Export</th>
    </tr>
  </thead>

  <tbody>
    <% course_programs.each do |course_program| 
      course = course_program.course %>
      <tr>
        <td scope="row" onclick = "location.href='<%= course_path(course) %>'"><%= course.code %></td>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.name %></td>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.ects %></td>
        <td><%= course_program.semester %></td>
        <% if @show_objectives %>
          <td colspan="4" >
          <%= md2html(course.objectives) %>
            <%= link_to "edit", edit_course_path(course_program.course_id)  %>
          </td>
        <% end %>
        <td><%= course_program.required %></td>
        <td class="bg-<%= course.aasm_state %>">   </td>
        <td><%= course.aasm_state.humanize.titleize %></td>
        <td> 
              <%= link_to 'Show', course_path(course) %>
              <% if can? :edit, course %>
              <%= link_to 'Edit', edit_course_path(course) %></td>
              <% end %>
        </td>
        <td><%= link_to 'Show', course_program_path(course_program) %>
            <% if can? :edit, @program %>
            <%= link_to 'Edit', edit_course_program_path(course_program) %>
            <%= link_to 'Remove', course_program, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <% end %>
        </td>
        <td><%= link_to 'JSON', export_course_json_url(id: course_program.course_id) %>
        <%= link_to 'DOCX', export_course_docx_url(id: course_program.course_id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
