<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_area :code %>
  </div>

  <div class="field">
    <%= form.label :mission %>
    <%= form.text_area :mission %>
  </div>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_area :degree %>
  </div>

  <div class="field">
    <%= form.label :ects %>
    <%= form.number_field :ects %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
