<% # tbd: more beautiful forms https://getbootstrap.com/docs/4.0/components/forms/ %>
<%= form_with(model: program, local: true) do |form| %>
  <% if program.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if is_create %>
    <div class="form-row">
      <div class="col">
        <%= form.label "Semester"  %>
        <%= form.select :semester_season, ["Winter", "Spring"], :selected => "Winter" %>
        <%= form.select :semester_year, 2019..5.year.from_now.year, :selected => Time.current.year %>
      </div>
    </div>
  <%  end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_area :name, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_area :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mission %>
    <%= form.text_area :mission, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :degree %>
    <%= form.text_area :degree, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :ects %>
    <%= form.number_field :ects, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
