<% # tbd: more beautiful forms https://getbootstrap.com/docs/4.0/components/forms/ %>
<%= form_with(model: program, local: true) do |form| %>
  <%= render 'layouts/form_include' %>
  <% if program.errors.any? %>
    <div class="mb-3" id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
        <% program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name,  class: "form-label" %>
    <%= form.text_area :name, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :code,  class: "form-label" %>
    <%= form.text_area :code, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :mission,  class: "form-label" %>
    <%= form.text_area :mission, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :degree,  class: "form-label" %>
    <%= form.text_area :degree, class: "form-control"  %>
  </div>

  <div class="mb-3">
    <%= form.label :ects,  class: "form-label" %>
    <%= form.number_field :ects, class: "form-control"  %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success btn-sm"%>
  </div>
<% end %>
