<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h3>Programs</h3>

<%= render 'layouts/semester_and_date_selectors', path: programs_path%>


<% if can? :edit, @programs %><%= link_to 'New Program', new_program_path %><br><% end %>
JSON: <%= link_to 'Export all Programs', export_programs_json_url(:current_semester_season => get_semester_season(@current_semester), :current_semester_year => get_semester_year(@current_semester)) %>
<!-- Button trigger modal -->
<% if can? :edit, @programs %>| <a href="#" data-toggle="modal" data-target="#jsonModal">
  Import Program(s)
</a>
<% end %>


<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Mission</th>
      <th scope="col">Degree</th>
      <th scope="col">Ects</th>
      <th scope="col"></th>
      <th class="text-center" scope="col" colspan="2"></th>
      <th class="text-center" scope="col" colspan="2">Export</th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr >
        <td scope="row"><%= link_to program.name, program_path(program , :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <td><%= link_to program.code, program_path(program, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <td><%= program.mission %></td>
        <td><%= program.degree %></td>
        <td><%= program.ects %></td>
        <td><%= link_to 'Show', program_path(program, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <% if can?(:edit, program) && is_latest_version %>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, id: "destroy_program_#{program.id}", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if is_latest_version %>
          <td><%= link_to 'JSON', export_program_json_url(id: program.id.to_s) %></td>
          <td><%= link_to 'DOCX', export_program_docx_url(id: program.id.to_s) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<!-- JSON Modal -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag import_program_json_path, multipart: true do %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Import a Program from an existing JSON-File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Here you can upload a JSON-File including an entire Program. If the JSON-File also includes Courses, they will be created as well and linked to the Program. If the Program or a Course already exists (if the code is already taken), it will be updated and overwritten by the contents of the JSON-File. The Course-Program-Link will also be created. Attributes semester_season and semester_year are required to determine semester to import to.
        </p>
        <%= file_field_tag :files, accept: 'application/json', :multiple => true, name: 'files[]', :style => 'display:inline; margin-top:-10px' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Upload & Import', :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
