<p id="notice"><%= notice %></p>

<h3>Programs</h3>
<%= link_to 'New Program', new_program_path %>
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Mission</th>
      <th scope="col">Degree</th>
      <th scope="col">Ects</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr >
        <td scope="row"><%= link_to program.name, program_path(program) %></td>
        <td><%= link_to program.code, program_path(program) %></td>
        <td><%= program.mission %></td>
        <td><%= program.degree %></td>
        <td><%= program.ects %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, id: "destroy_program_#{program.id}", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
