
<h3>Program: <%= @program.name %></h3>
<p id="notice"><%= notice %>
  <%= link_to 'Export Program as JSON', export_program_json_url(id: @program.id) %> <br>
<%= link_to 'Edit', edit_program_path(@program) %>, <%= link_to 'Back to Index', programs_path %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @program.code %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @program.mission %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @program.degree %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @program.ects %>
</p>


<hr/>
<h3>Courses in Program</h3>
<%= link_to 'New Course', new_course_path(program_id: @program) %>
<br><br>
<%= render 'course_list', course_programs: @course_programs %>
