

<%= form_with(model: user, local: true) do |form| %>


  <% if user.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>

    <%= form.email_field :email, class: "form-control"  %>
    <small id="emailHelp" class="form-text text-muted">If you change your email, a new confirmation mail will be sent.</small>
  </div>

  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, class: "form-control"  %>
    <small id="full_name_help" class="form-text text-muted">Please enter your full name here.</small>
  </div>

  <div class="form-group">
    <%= form.label :about %>
    <%= form.text_area :about, class: "form-control"  %>
    <small id="full_name_help" class="form-text text-muted">You can add more information, notes or comments here.</small>
  </div>

  <div class="form-group" >
    <%= form.label :readable %>
    <%= form.check_box :readable, class: "form-control" %>
    <small id="full_name_help" class="form-text text-muted">Check here if you allow your information seen by other users.</small>
</div>

<div class="form-group">
  <%= form.label :faculty %>
  <%= form.collection_select(:faculty_id, Faculty.all, :id, :name, {:prompt => "Please select your faculty"})
    %>
</div>


<% if can? :manage_access, user %>
  <div class="form-group">
    <%= form.label :role %>
    <%= form.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
  </div>

  <%if user != current_user %>
    <div class="form-group" >
      <%= form.label :approved %>
      <%= form.check_box :approved, class: "form-control" %>
    </div>
  <% end %>

<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
