
<h3><%= t("Users") %></h3>
<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t("Email") %></th>
      <th scope="col"><%= t("Role") %></th>
      <th scope="col"><%= t("Approved") %></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td onclick = "location.href='<%= user_path(user) %>'" scope="row"><%= user.email %></td>
        <td><%= user.role.to_s.humanize %></td>
        <td> <input type="checkbox" <%= user.approved ? "checked":"" %>></td>
        <td><% if can? :edit, user %><%= link_to (t("edit")), edit_user_path(user) %><% end %><% if !user.approved && can?(:approve, user) %> | <%= link_to (t("Approve")), approve_user_path(id: user.id) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
