
<h3>User: <%= @user.email %></h3>

<p>
  <strong><%= t("Email") %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t("Role") %>:</strong>
  <%= @user.role.to_s.humanize %>
</p>

<p>
  <strong><%= t("Approved") %>:</strong>
  <%= @user.approved %>
</p>
