<% if can? :edit, @user %> <%= link_to "Edit", edit_user_path(@user) %><% end %>

<h3>User: <%= @user.email %></h3>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.to_s.humanize %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @user.approved %>
</p>

<p>
  <strong>Sign in Count:</strong>
  <%= @user.sign_in_count %>
</p>

<p>
  <strong>Current Sign in:</strong>
  <%= @user.current_sign_in_at %> from <%= @user.current_sign_in_ip %>
</p>

<p>
  <strong>Last Sign in:</strong>
  <%= @user.last_sign_in_at %> from <%= @user.last_sign_in_ip %>
</p>

<p>
  <strong>Number of Sign-ins:</strong>
  <%= @user.failed_attempts %>
</p>

<p>
  <strong>Confirmed:</strong><br />
  At: <%= @user.format_time(@user.confirmed_at) %><br />
   Confirmation Sent: <%= @user.confirmation_sent_at %><br />
   Unconfirmed email: <%= @user.unconfirmed_email %>
</p>
