<h1><%= t("Welcome to the Module Handbook") %></h1>
<p><%= t("Introduction and Manual goes here") %></p>
<p><%= t("also a link to kramdown") %></p>

<hr/>
<p><%= t("There are two ways to link Courses to Programs") %></p>
<ol>
  <li><%= t("create Course from Program site OR") %></li>
  <li><%= t("create CourseProgram link instance after Course and Program have been created") %></li>
</ol>
