<p><%= @email %><%= t("has registered to join your site") %></p>
  <p><%= t("An admin can approve this registration by visiting the website and editing the user") %></p>
  <a href="<%= @host %>"><%= @host %></a>
