<%= form_with(model: course_program, local: true) do |form| %>
  <% if course_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_program.errors.count, "error") %> prohibited this course_program from being saved:</h2>

      <ul>
        <% course_program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select(:course_id, Course.all, :id, :select_name_with_semester, { :selected =>  course_program.course ? course_program.course.id.to_s : nil }) %>
  </div>

  <div class="field">
    <%= form.label :program_id %>
    <%= form.collection_select(:program_id, Program.all, :id, :select_name_with_semester, { :selected =>  course_program.program ? course_program.program.id.to_s : nil }) %>

  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester %>
  </div>

  <div class="field">
    <%= form.label :required %>
    <%=  form.select(:required,[['mandatory','mandatory'],['required','required'],['elective','elective']])%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
