<%= form_with(model: course_program, local: true) do |form| %>
  <% if course_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_program.errors.count, "error") %> prohibited this course_program from being saved:</h2>

      <ul>
        <% course_program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course_id, class: "form-label" %>
    <%= form.collection_select(:course_id, Course.all, :id, :select_name) %>
  </div>

  <div class="field">
    <%= form.label :program_id, class: "form-label" %>
    <%= form.collection_select(:program_id, Program.all, :id, :select_name) %>

  </div>

  <div class="field">
    <%= form.label :semester, class: "form-label" %>
    <%= form.number_field :semester %>
  </div>

  <div class="field">
    <%= form.label :required , class: "form-label"%>
    <%=  form.select(:required,[['mandatory','mandatory'],['required','required'],['elective','elective'],['elective-option','elective-option']])%>
  </div>

  <div class="actions">
    <%= form.submit  class: "btn btn-success btn-sm" %>
  </div>
<% end %>
