<p id="notice"><%= notice %></p>

<h3>Course-Program Links</h3>

<%= render 'layouts/semester_and_date_selectors', path: course_programs_path%>



<% if can? :edit, @course_program %>
<%= link_to 'New Course Program', new_course_program_path %>
<% end %>
<br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Course</th>
      <th scope="col">Program</th>
      <th scope="col">Semester</th>
      <th scope="col">Required</th>
      <th scope="col"></th>
      <% if can? :edit, @course_program %>
      <th scope="col" colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @course_programs.each do |course_program| %>
      <tr >
        <td scope="row"><%= link_to 'Show Link', course_program_path(course_program, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %>
        <td><%= link_to course_program.course.name, course_path(course_program.course, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <td><%= link_to course_program.program.name, program_path(course_program.program, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <td><%= course_program.semester %></td>
        <td><%= course_program.required %></td>
        <td><%= link_to 'Show', course_program_path(course_program, :as_of_time => !is_latest_version ? @current_as_of_time: nil) %></td>
        <% if can?(:edit, course_program) && is_latest_version %>
          <td><%= link_to 'Edit', edit_course_program_path(course_program) %></td>
          <td><%= link_to 'Destroy', course_program, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
