<p id="notice"><%= notice %></p>

<h1>Course Programs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Program</th>
      <th scope="col">Semester</th>
      <th scope="col">Required</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_programs.each do |course_program| %>
      <tr onclick = "location.href='<%= course_program_path(course_program) %>'">
        <td scope="row"><%= course_program.course_id %></td>
        <td><%= course_program.program_id %></td>
        <td><%= course_program.semester %></td>
        <td><%= course_program.required %></td>
        <td><%= link_to 'Show', course_program %></td>
        <td><%= link_to 'Edit', edit_course_program_path(course_program) %></td>
        <td><%= link_to 'Destroy', course_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Program', new_course_program_path %>
