<h3><% content_for(:title, "Link between Course and Program") %></h3>


<p id="notice"><%= notice %>
 Back to:
  <%= link_to 'Course', course_path(@course_program.course) %>,
  <%= link_to 'Program', program_path(@course_program.program) %>,
  <%= link_to 'Index', course_programs_path %>
   <% if can? :edit, @course_program %>
  , <%= link_to 'Edit', edit_course_program_path(@course_program) %>
  <% end %></p>

<p>
  <strong>Course:</strong>
  <%= link_to @course_program.course.name, @course_program.course %>
</p>

<p>
  <strong>Program:</strong>
  <%= link_to @course_program.program.name, @course_program.program %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_program.semester %>
</p>

<p>
  <strong>Required:</strong>
  <%= @course_program.required %>
</p>
