<h3>Link between Course and Program</h3>
<p id="notice"><%= notice %>
  <% if can? :edit, @course_program %>
  <%= link_to 'Edit', edit_course_program_path(@course_program) %>,
  <% end %>
  <%= link_to 'Back to Program', program_path(@course_program.program) %>,
  <%= link_to 'Back to Index', course_programs_path %></p>

<p>
  <strong>Course:</strong>
  <%= link_to @course_program.course.name, course_path(@course_program.course[:id]) %>
</p>

<p>
  <strong>Program:</strong>
  <%= link_to @course_program.program.name, @course_program.program %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_program.semester %>
</p>

<p>
  <strong>Required:</strong>
  <%= @course_program.required %>
</p>
