<h3>Link between Course and Program</h3>
<p id="notice"><%= notice %>
  <%= link_to 'Edit', edit_course_program_path(@course_program) %></p>

<p>
  <strong>Course:</strong>
  <%= @course_program.course.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @course_program.program.name %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_program.semester %>
</p>

<p>
  <strong>Required:</strong>
  <%= @course_program.required %>
</p>
