

  <div class="form-group">

    <% if is_create && program.nil? %>
      <div class="form-row">
        <div class="col">
          <%= form.label "Semester"  %>
          <%= form.select :semester_season, ["Winter", "Spring"], :selected => "Winter" %>
          <%= form.select :semester_year, 2019..5.year.from_now.year, :selected => Time.current.year %>
        </div>
      </div>
    <%  end %>

    <div class = "form-row">
      <div class = "col">
        <%= render 'course_field', course: @course,
        field_name: :name, markdown: false,
        editing: editing, form: form, rows: 1 %>
      </div>
      <div class = "col">
        <%= render 'course_field', course: @course,
        field_name: :responsible_person, markdown: false,
        editing: editing, form: form, rows: 1 %>
      </div>
    </div>
  </div>

<div class = "form-row">
<div class = "col">
  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :code, markdown: false,
    editing: editing, form: form, rows: 1 %>
    </div>
 </div>
  <div class = "col">

    <div class="form-group">
      <%= render 'course_field', course: @course,
      field_name: :ects, markdown: false,
      editing: editing, form: form, rows: 1 %></div>
    </div>
  </div>


  <div class = "form-row border">

  <div class = "col">
    <div class="form-group">
      <%= render 'course_field', course: @course,
      field_name: :lectureHrs, markdown: false,
      editing: editing, form: form, rows: 1 %>
    </div>
   </div>

   <div class = "col">
     <div class="form-group">
       <%= render 'course_field', course: @course,
       field_name: :labHrs, markdown: false,
       editing: editing, form: form, rows: 1 %>

     </div>
    </div>

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :tutorialHrs, markdown: false,
        editing: editing, form: form, rows: 1 %>

      </div>
     </div>

  </div>


  <div class = "form-row border">

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :room, markdown: true,
        editing: editing, form: form, rows: 1 %>
      </div>
    </div>

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :equipment, markdown: true,
        editing: editing, form: form, rows: 1 %>
      </div>
    </div>


  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :mission, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>


  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :examination, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :objectives, markdown: true,
    editing: editing, form: form, rows: 7 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :contents, markdown: true,
    editing: editing, form: form, rows: 7 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :prerequisites, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :literature, markdown: true,
    editing: editing, form: form, rows: 7%>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :methods, markdown: true,
    editing: editing, form: form, rows: 7 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :skills_knowledge_understanding, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :skills_intellectual, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :skills_practical, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :skills_general, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>

  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :comment, markdown: true,
    editing: editing, form: form, rows: 3 %>
  </div>
