

  <div class="form-group">
    <div class = "form-row">
      <div class = "col">
        <%= render 'course_field', course: @course,
        field_name: :name, markdown: false,
        editing: editing, form: form, rows: 1 %>
      </div>
      <div class = "col">
        <div class="form-group">
          <%= render 'course_field', course: @course,
                     field_name: :ects, markdown: false,
                     editing: editing, form: form, rows: 1 %></div>
      </div>
      <div class = "col">
        <%= render 'course_field', course: @course,
        field_name: :responsible_person, markdown: false,
        editing: editing, form: form, rows: 1 %>
      </div>

    </div>
  </div>

<div class = "form-row">
<div class = "col">
  <div class="form-group">
    <%= render 'course_field', course: @course,
    field_name: :code, markdown: false,
    editing: editing, form: form, rows: 1 %>
    </div>
 </div>
  <div class = "col">

    </div>

  <div class = "col">
    <%= render 'course_field', course: @course,
               field_name: :teacher, markdown: false,
               editing: editing, form: form, rows: 1 %>
  </div>
  </div>


  <div class = "form-row border">

  <div class = "col">
    <div class="form-group">
      <%= render 'course_field', course: @course,
      field_name: :lectureHrs, markdown: false,
      editing: editing, form: form, rows: 1 %>
    </div>
   </div>

   <div class = "col">
     <div class="form-group">
       <%= render 'course_field', course: @course,
       field_name: :labHrs, markdown: false,
       editing: editing, form: form, rows: 1 %>

     </div>
    </div>

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :tutorialHrs, markdown: false,
        editing: editing, form: form, rows: 1 %>

      </div>
     </div>

  </div>


  <div class = "form-row border">

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :room, markdown: true,
        editing: editing, form: form, rows: 1 %>
      </div>
    </div>

    <div class = "col">
      <div class="form-group">
        <%= render 'course_field', course: @course,
        field_name: :equipment, markdown: true,
        editing: editing, form: form, rows: 1 %>
      </div>
    </div>
  </div>
  <% fields = [[:mission, 3],[:examination, 3],
                [:objectives, 7],[:contents, 7],
               [:prerequisites, 3],[:literature, 7],
               [:methods, 7],[:skills_knowledge_understanding, 7],
               [:skills_intellectual, 3],[:skills_practical, 3],
               [:skills_general, 3], [:comment, 3] ] %>
  <% fields.each do | field_name, rows |  %>
    <div class="form-group">
      <%= render 'course_field', course: @course,
                 field_name: field_name, markdown: true,
                 editing: editing, form: form, rows: rows %>
    </div>
  <% end %>
