<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless program.nil? %>
  <h4>
  for Program: <%= program.select_name %> - <%= get_semester_name(program.valid_end) %>
  </h4>
    <%= hidden_field_tag(:program_id, program.id) %>
    <%= form.hidden_field(:semester_season, :value => get_semester_season(program.valid_end)) %>
    <%= form.hidden_field(:semester_year, :value => get_semester_year(program.valid_end)) %>
  <% end %>


  <%= render 'course_template', course: @course, program: program, editing: true, form: form, is_create: is_create %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
