<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless program.nil? %>
  <h4>
  for Program: <%= program.select_name %>
  </h4>
  <%= hidden_field_tag(:program_id, program.id) %>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_area :name, class: "form-control", rows: 1 %>
  </div>
<div class = "form-row">
<div class = "col">
  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_area :code, class: "form-control", rows: 1  %>
  </div>
 </div>
  <div class = "col">

    <div class="form-group">
      <%= form.label :ects %>
      <%= form.number_field :ects, class: "form-control" %>
    </div>
    </div>
  </div>


  <div class = "form-row border">

  <div class = "col">
    <div class="form-group">
      <%= form.label :lectureHrs %>
      <%= form.text_area :lectureHrs, class: "form-control", rows: 1  %>
    </div>
   </div>

   <div class = "col">
     <div class="form-group">
       <%= form.label :labHrs %>
       <%= form.text_area :labHrs, class: "form-control", rows: 1  %>
     </div>
    </div>

    <div class = "col">
      <div class="form-group">
        <%= form.label :tutorialHrs %>
        <%= form.text_area :tutorialHrs, class: "form-control", rows: 1  %>
      </div>
     </div>

  </div>


  <div class="form-group">
    <%= form.label :mission %>
    <%= form.text_area :mission, class: "form-control", rows: 3 %>
  </div>




  <div class="form-group">
    <%= form.label :examination %>
    <%= form.text_area :examination, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :objectives %>
    <%= form.text_area :objectives, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :contents %>
    <%= form.text_area :contents, class: "form-control", rows: 7 %>
  </div>

  <div class="form-group">
    <%= form.label :prerequisites %>
    <%= form.text_area :prerequisites, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :literature %>
    <%= form.text_area :literature, class: "form-control", rows: 7 %>
  </div>

  <div class="form-group">
    <%= form.label :methods %>
    <%= form.text_area :methods, class: "form-control", rows: 7 %>
  </div>

  <div class="form-group">
    <%= form.label :skills_knowledge_understanding %>
    <%= form.text_area :skills_knowledge_understanding, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :skills_intellectual %>
    <%= form.text_area :skills_intellectual, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :skills_practical %>
    <%= form.text_area :skills_practical, class: "form-control", rows: 3 %>
  </div>

  <div class="form-group">
    <%= form.label :skills_general %>
    <%= form.text_area :skills_general, class: "form-control", rows: 3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
