<%= form_with(model: course, local: true) do |form| %>
  <%= render 'layouts/form_include' %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless program.nil? %>
  <h4>
  for Program: <%= program.select_name %>
  </h4>
  <%= hidden_field_tag(:program_id, program.id) %>
  <% end %>


  <%= render 'course_template', course: @course, editing: true, form: form %>


  <div class="actions">
    <%= form.submit  class: "btn btn-success btn-sm" %>
  </div>
<% end %>
