<p id="notice"><%= notice %></p>

<h3>Courses</h3>
<%= link_to 'Export all Coursea as JSON', export_courses_json_url %> <br>
<%= link_to 'New Course', new_course_path %>
<!-- Button trigger modal -->
| <a href="#" data-toggle="modal" data-target="#jsonModal">
  Import Course from JSON
</a>

<br><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Ects</th>
      <% if false %>
      <th scope="col">Mission</th>
      <th scope="col">Examination</th>
      <th scope="col">Objectives</th>
      <th scope="col">Contents</th>
      <th scope="col">Prerequisites</th>
      <th scope="col">Literature</th>
      <th scope="col">Methods</th>
      <th scope="col">Skills knowledge understanding</th>
      <th scope="col">Skills intellectual</th>
      <th scope="col">Skills practical</th>
      <th scope="col">Skills general</th>
      <% end %>
      <th scope="col" colspan="3"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr >
        <td scope="row"><%= link_to course.name, course_path(course)%></td>
        <td><%= link_to course.code, course_path(course) %></td>
        <td><%= course.ects %></td>

        <% if false %>
        <td><%= course.mission %></td>
        <td><%= course.examination %></td>
        <td><%= course.objectives %></td>
        <td><%= course.contents %></td>
        <td><%= course.prerequisites %></td>
        <td><%= course.literature %></td>
        <td><%= course.methods %></td>
        <td><%= course.skills_knowledge_understanding %></td>
        <td><%= course.skills_intellectual %></td>
        <td><%= course.skills_practical %></td>
        <td><%= course.skills_general %></td>
        <% end %>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Export JSON', export_course_json_url(id: course.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- JSON Course Modal -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag import_course_json_path, multipart: true do %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Import a Course from an existing JSON-File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= file_field_tag :file, :style => 'display:inline; margin-top:-10px' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= submit_tag 'Upload & Import', :class => 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
