<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Mission</th>
      <th scope="col">Ects</th>
      <th scope="col">Examination</th>
      <th scope="col">Objectives</th>
      <th scope="col">Contents</th>
      <th scope="col">Prerequisites</th>
      <th scope="col">Literature</th>
      <th scope="col">Methods</th>
      <th scope="col">Skills knowledge understanding</th>
      <th scope="col">Skills intellectual</th>
      <th scope="col">Skills practical</th>
      <th scope="col">Skills general</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td scope="row"><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.mission %></td>
        <td><%= course.ects %></td>
        <td><%= course.examination %></td>
        <td><%= course.objectives %></td>
        <td><%= course.contents %></td>
        <td><%= course.prerequisites %></td>
        <td><%= course.literature %></td>
        <td><%= course.methods %></td>
        <td><%= course.skills_knowledge_understanding %></td>
        <td><%= course.skills_intellectual %></td>
        <td><%= course.skills_practical %></td>
        <td><%= course.skills_general %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
