
<%= content_for(:title, "Course: #{@course.name}") %>
<%=content_for(:headline_tag, 'h3')%>

<% if can? :versions, @course %>
<%= link_to "See Course Versions", course_versions_url(@course.id), class: "no_print"  %>
<% end %>

<p class="bg-<%= @course.aasm_state %>">
  <strong>State:</strong>
  <%= @course.aasm_state.humanize.titleize %>
</p>

<div class = "no_print">
<% if can? :change_state, @course %>
  End current Phase and go to next State -
  <% @course.aasm.events.each do |event| %>
    <%= button_to event.name.to_s.humanize.titleize, change_state_path, params: { course_id: @course.id, event_name: event.name } %>
  <% end %>
<% end %>



<p id="notice"><%= notice %><br>
   </p>
<p>
Export Course as <%= link_to 'JSON', export_course_json_url(id: @course.id) %> | <%= link_to 'DOCX', export_course_docx_url(id: @course.id) %> <br>
<% if can? :edit, @course %><%= link_to 'Edit', edit_course_path(@course) %>, <% end %><%= link_to 'Back to Index', courses_path %>
</p>
</div>
<div class = "container">
  <div class="row">
  
    <div class = "col">
      Already part of Programs: <br/>
<% @link_memos.each do | link_memo | %>
    <%= link_to link_memo.program.name, program_path(link_memo.program)  %>
    (<%= link_to link_memo.text, course_program_path(link_memo.link)  %> ),<br/>
<% end %>

    </div>
<% if can? :edit, @course %>
    <div class = "col no_print">
<%= form_with(model: @course_program, local: true) do |form| %>
    <%= form.hidden_field :course_id %><%= hidden_field_tag 'next_view','edit' %>
  <div class="field">
    <%= form.label 'add to another program:' %>
    <%= form.collection_select(:program_id, Program.order(:name), :id, :select_name) %>
  </div>

  <div class="actions">
    <%= form.submit 'Add to Program', class: "btn btn-success btn-sm"%>
  </div>
<% end %>
    </div>
    <% end %>
  </div>
</div>
<div class = "no_print">
<%= render 'comments/comments_teaser'%>
</div>
<hr/>

<%= form_with(model: @course, local: true) do |form| %>
<%= render 'course_template', course: @course, editing: false, form: form %>
<% end %>


<%= render 'comments/comments'%>
