<h3>Course: <%= @course.name %></h3>
<p class="bg-<%= @course.aasm_state %>">
  <strong>State:</strong>
  <%= @course.aasm_state.humanize.titleize %>
</p>

<% if @course.aasm.events %>
  End currend Phase and go to next State -
  <% @course.aasm.events.each do |event| %>
    <%= button_to event.name.to_s.humanize.titleize, trigger_event_path, params: { course_id: @course.id, event_name: event.name } %>
  <% end %>
<% end %>




<p id="notice"><%= notice %><br>
  <%= link_to 'Export Course as JSON', export_course_json_url(id: @course.id) %> <br>
  <%= link_to 'Edit', edit_course_path(@course) %>, <%= link_to 'Back to Index', courses_path %> </p>
<div class = "container">
  <div class="row">
    <div class = "col">
      Already part of Programs: <br/>
<% @programs.each do |program_name, program_id| %>
  <%= link_to program_name, program_path(program_id)  %>,
<% end %>
    </div>
    <div class = "col">
<%= form_with(model: @course_program, local: true) do |form| %>
    <%= form.hidden_field :course_id %><%= hidden_field_tag 'next_view','edit' %>
  <div class="field">
    <%= form.label :program_id %>
    <%= form.collection_select(:program_id, Program.order(:name), :id, :select_name) %>
  </div>

  <div class="actions">
    <%= form.submit 'Add to Program'%>
  </div>
<% end %>
    </div>
  </div>
</div>
<hr/>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>


<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Mission:</strong>
  <%= md2html(@course.mission) %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @course.ects %>
</p>

<p>
  <strong>Lecture Hours:</strong>
  <%= @course.lectureHrs %>
</p>

<p>
  <strong>Lab Hours:</strong>
  <%= @course.labHrs %>
</p>

<p>
  <strong>Tutorial Hours:</strong>
  <%= @course.tutorialHrs %>
</p>

<p>
  <strong>Room Requirements:</strong>
  <%= md2html(@course.room) %>
</p>

<p>
  <strong>Equipment:</strong>
  <%= md2html(@course.equipment) %>
</p>

<p>
  <strong>Examination:</strong>
  <%= md2html(@course.examination) %>
</p>

<p>
  <strong>Objectives:</strong>
  <%= md2html(@course.objectives) %>
</p>

<p>
  <strong>Contents:</strong>
  <%= md2html(@course.contents) %>
</p>

<p>
  <strong>Prerequisites:</strong>
  <%= md2html(@course.prerequisites) %>
</p>

<p>
  <strong>Literature:</strong>
  <%= md2html(@course.literature) %>
</p>

<p>
  <strong>Methods:</strong>
  <%= md2html(@course.methods) %>
</p>

<p>
  <strong>Skills knowledge understanding:</strong>
  <%= md2html(@course.skills_knowledge_understanding) %>
</p>

<p>
  <strong>Skills intellectual:</strong>
  <%= md2html(@course.skills_intellectual) %>
</p>

<p>
  <strong>Skills practical:</strong>
  <%= md2html(@course.skills_practical) %>
</p>

<p>
  <strong>Skills general:</strong>
  <%= md2html(@course.skills_general) %>
</p>
