<h3>Version History of Course: <%= @course.name %></h3>
<%= link_to "Back to Course", course_path(@course.id)  %>

<p class="bg-<%= @course.aasm_state %>">
  <strong>State:</strong>
  <%= @course.aasm_state.humanize.titleize %>
</p>


Part of Programs:
<% if @programs.size > 0 %>
  <% @programs.each do |program_name, program_id| %>
  <%= link_to program_name, program_path(program_id)  %>,
  <% end %>
<% else %>
  none
<% end %>
<br/><br/>

<table class="table table-hover">
  <thead>
    <th>Nr.</th>
    <th>Author</th>
    <th>Date</th>
    <th>Event</th>
    <th>Changeset</th>
    <th></th>
  </thead>
  <tbody>

<% @versions.each do |version| %>
  <tr>
    <td><%= version.index %></td>
    <td><%= version.whodunnit  ? User.find(version.whodunnit).email: "No user" %></td>
    <td><%= version.created_at %></td>
    <td><%= version.event %></td>
    <td>
      <% version.changeset.each do |change| %>
        <% if change[0]!='updated_at' %>
          Changed "<%= change[0] %>" from <%= change[1][0]? '"' + change[1][0].to_s + '"' : 'no value'%> to "<%= change[1][1]? change[1][1].to_s : 'no_value' %>" <br/>
        <% end %>
      <% end %>

    </td>
    <td>
      <% if can? :revert_to, @course %>
      <% if version.next %>
        <%= button_to 'Revert to this Version', revert_to_url, params: { id: @course.id, to_version: version.next } %><small>* revert to "changed to" value</small>
      <% else %>
        <small>>Current Version<</small>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="4"></td>
    <td></td>
  </tr>
  </tbody>
</table>
