<h3>Version History of Course: <%= @course.name %></h3>
<%= link_to "Back to Course", course_path(@course)  %>

<p class="bg-<%= @course.aasm_state %>">
  <strong>State:</strong>
  <%= @course.aasm_state.humanize.titleize %>
</p>


Part of Programs:
<% if @programs.size > 0 %>
  <% @programs.each do |program| %>
    <%= link_to "#{program.name} - #{get_semester_name(program.valid_end)}", program_path(program)  %>,
  <% end %>
<% else %>
  none
<% end %>
<br/><br/>

<table class="table table-hover">
  <thead>
    <th>Nr.</th>
    <th>Author</th>
    <th>Date</th>
    <th>Changeset</th>
    <th></th>
  </thead>
  <tbody>

<% @versions.each_with_index do |version, index| %>
  <tr>
    <td><%= link_to index, course_path(version, :as_of_time => version.transaction_start.to_formatted_s(:default)) %></td>
    <td><%= version.author_id  ? User.find(version.author_id).email: "No user" %></td>
    <td><%= version.transaction_start.to_formatted_s(:default) %></td>
    <td>
      <% (version.change_list || "").split("\n").each do |change|%>
        <%= change %> <br/>
    <% end %>
    </td>
    <td>
      <% if can? :revert_to, @course %>
      <% if index != @versions.length - 1 %>
        <%= button_to 'Revert to this Version', course_revert_to_url, params: { id: @course.id, transaction_start: version.transaction_start.to_formatted_s(:default) } %>
      <% else %>
        <small>>Current Version<</small>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td colspan="4"></td>
    <td></td>
  </tr>
  </tbody>
</table>
