<% @show_objectives = show_objectives %>

<h3>Courses in Program</h3>
<% if can? :edit, @program %><%= link_to 'New Course', new_course_path(program_id: @program) %>
  <!-- Button trigger modal -->
  | <a href="#" data-toggle="modal" data-target="#jsonModal">
  Import Course(s) from JSON
</a>
  |
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Modulverantwortlicher</th>
      <th scope="col">Ects</th>
      <th scope="col">Semester</th>
      <% if @show_objectives %>
      <th colspan="4" scope="col">Objectives</th>
      <% end %>
      <th scope="col">required?</th>
      <th scope="col" colspan="2">State</th>
      <th scope="col">Course</th>
      <th scope="col">Link</th>
      <th scope="col">Export</th>
    </tr>
  </thead>

  <tbody>
    <% course_programs.each do |course_program| 
      course = course_program.course %>
      <tr>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.code %></td>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.name %></td>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.responsible_person %></td>
        <td onclick = "location.href='<%= course_path(course) %>'"><%= course.ects %></td>
        <td><%= course_program.semester %></td>
        <% if @show_objectives %>
          <td colspan="4" >
          <%= md2html(course.objectives) %>
            <%= link_to "edit", edit_course_path(course_program.course_id)  %>
          </td>
        <% end %>
        <td><%= course_program.required %></td>
        <td class="bg-<%= course.aasm_state %>">   </td>
        <td><%= course.aasm_state.humanize.titleize %></td>
        <td> 
              <%= link_to 'Show', course_path(course) %>
              <% if can? :edit, course %>
              <%= link_to 'Edit', edit_course_path(course) %></td>
              <% end %>
        </td>
        <td><%= link_to 'Show', course_program_path(course_program) %>
            <% if can? :edit, @program %>
            <%= link_to 'Edit', edit_course_program_path(course_program) %>
            <%= link_to 'Remove', course_program, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <% end %>
        </td>
        <td><%= link_to 'JSON', export_course_json_url(id: course_program.course_id) %>
        <%= link_to 'DOCX', export_course_docx_url(id: course_program.course_id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>


<!-- JSON Modal -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="jsonModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag program_add_courses_path, multipart: true do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Import a Course from an existing JSON-File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Here you can upload a JSON-File including a Course. If the Course already exists (if the code is already taken), it will be updated and overwritten by the contents of the JSON-File. Any Course-Program-Links will also be created.
          </p>
          <%= file_field_tag :files, accept: 'application/json', :multiple => true, name: 'files[]', :style => 'display:inline; margin-top:-10px' %>
          <%= hidden_field_tag :program_id, @program.id, :style => 'display:inline; margin-top:-10px' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= submit_tag 'Upload & Import', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
