

<p id="notice"><%= notice %><br>
</p>
<p>
  Export Program as <%= link_to 'JSON', export_program_json_url(id: @program.id) %> | <%= link_to 'DOCX', export_program_docx_url(id: @program.id) %> <br>
  <%= link_to 'Back to Index', programs_path %>
</p>

<%= render 'comments/comments_teaser', has_comments_tab: true, this: @program%>

<ul class="nav nav-tabs">
  <% [['Program', :program, program_path(@program, { tab: :program})],
      ['Course List', :course_list, program_path(@program, { tab: :course_list, objectives: false })],
      ['with Objectives', :course_list_with_objectives, program_path(@program, { tab: :course_list_with_objectives, objectives: true })],
      ['Plan', :overview,  program_path(@program, { tab: :overview})],
      ['Table Overview', :table, program_path(@program, { tab: :table})],
      ['Topics', :topics, program_path(@program, { tab: :topics})],
      ['Topics/Courses', :topics_for_courses, program_path(@program, {tab: :topics_for_courses})],
      ['Comments', :comments, program_path(@program, {tab: :comments})]
     ].each do | title, tab, path |  %>
  <li class="nav-item">
    <a class="nav-link <%= @tab == tab ? 'active' : '' %>" href="<%= path %>"><%= title %></a>
  </li>
    <% end %>
</ul>
