<meta name="turbo-prefetch" content="false">

<div>
  <br/></br>
  
<p>
  <% if can? :edit, @program %><%= link_to 'Edit', edit_program_path(@program) %> | <% end %>
  <% if can? :copy, @program %><%= link_to 'Copy', copy_program_path(@program) %> <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @program.code %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @program.mission %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @program.degree %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @program.ects %>
</p>

</div>