
<div>
  <br/><br/>
<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @program.code %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @program.mission %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @program.degree %>
</p>

<p>
  <strong>Ects:</strong>
  <%= @program.ects %>
</p>

</div>