<br/></br>
Matrix

<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <% @topics.each do | topic| %>
        <th onclick = "location.href='<%= topic_path(topic) %>'"><%=topic.title %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do | course| %>
  <tr>
    <td onclick = "location.href='<%= course_path(course) %>'"><%= course.code %><br/><small><%= course.name %></small></td>
    <% @topics.each do | topic|
      topic_description = TopicDescription.where(implementable: course, topic: topic).first
      %>


     <% if topic_description %>
          <td onclick = "location.href='<%= topic_description_path(topic_description) %>'">
              <%=  topic_description.description %>
          </td>
      <% else %>
        <td >
          <%= link_to_new "+", TopicDescription, course_id: course.id, topic_id: topic.id, back_to: program_path(@program.id, tab: :topics)  %>
        </td>
      <% end %>

    <% end %>

  </tr>
  <% end %>

  </tbody>
</table>