<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "ModuleHandbook" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= render "layouts/flash" %>
    <div class ="container">
    
      <h3><%= content_for(:title) %></h3>
      <%= yield %>
      
    </div>
    
    <div class ="container">
    <hr/>
      <small><a href="https://home.htw-berlin.de/~kleinen/software_projects/modulehandbook/">ModuleHandbook</a> Version <a href="https://github.com/modulehandbook/modulehandbook"><%=ENV['TAG_MODULE_HANDBOOK'] || 'unknown'%></a> </small>
    <% if Rails.env == "development" %>
    <pre> Dev Env: <%= params.inspect %></pre>
    <% end %>
    </div>
  </body>
</html>
